{% extends "main/base.html" %}

{% load static %}
{% load humanize %}
{% block content %}


<div class="login">

<div class="login-content">
<form action="https://seantheme.com/hud/index.html" method="POST" name="login_form">
<h1 class="text-center">Withdraw LOOP</h1>
<p style="text-align:center">Ensure to have Enough Gas to prevent Transaction from Failing</p>
<div class="mb-3">
<label class="form-label">Address <span class="text-danger">*</span></label>
<input type="text" class="form-control form-control-lg bg-white bg-opacity-5" value="" placeholder="" />
</div>
<div class="mb-3">
<div class="d-flex">
<label class="form-label">Amount <span class="text-danger">*</span></label>
<a href="#" class="ms-auto text-white text-decoration-none text-opacity-50">Available:30,0000</a>
</div>
<input type="text" class="form-control form-control-lg bg-white bg-opacity-5" value="" placeholder="" />
</div>
<div class="mb-3">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="customCheck1" checked />
<label class="form-check-label" for="customCheck1">Recieve Amount: 0.00</label>
</div>
</div>
<button type="submit" class="btn btn-outline-theme btn-lg d-block w-100 fw-500 mb-3">Withdraw</button>

</div>
</form>
</div>

</div>


<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>


{% endblock %}
