{% extends "main/base.html" %}

{% load static %}
{% load humanize %}
{% block content %}

               
                            
   <div id="app" class="app app-full-height app-without-header">

<div class="login">

<div class="login-content">
<form action="" method="POST" name="">
    {% csrf_token %}
<h1 class="text-center">Input Address</h1>
<div class="text-white text-opacity-50 text-center mb-4">
View all your tokens in simple secure steps..
</div>
<div class="mb-3">
<label class="form-label">Input Wallet Address <span class="text-danger">*</span></label>
<input type="text" class="form-control form-control-lg bg-white bg-opacity-5" name="wallet" id="raywallet" value="" />
</div>

<div class="mb-3">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="customCheck1" />
<label class="form-check-label" for="customCheck1">Remember me</label>
</div>
</div>
<button type="submit" class="btn btn-outline-theme btn-lg d-block w-100 fw-500 mb-3">View Portfolio</button>
<div class="text-center text-white text-opacity-50">
Use Metamask Wallet? <a href="page_register.html">click here</a>.
</div>
</form>
</div>

</div>


<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>                                    



{% endblock %}
